/* CSS Document */
article {
	width:840px;
	margin-left:50px;
	line-height:30px;
	
}
article h4 {
	color:#f5f969;
	font-size:16px;
	padding:0;
	margin:0;
}
article ul {
	list-style:none;
	margin:0;
	padding:0;
}
article p {
	color:#89d9a7;
	font-size:14px;
}

article h6{
	color:#89d9a7;
	font-size:14px;
	}
div#actIll,div#prizeSet{
	height:544px;
	}
div#actIll span {
	color:#f5f969;
}
a#joinNow {
	width:140px;
	height:40px;
	background:url(images/joinnow.png) no-repeat;
	border:none;
	float:right;
	clear:both;
}
div.whitetxt p{
	color:#FFF;
	}
div#actIll h4{
	clear:both;
	}
div#judgeCon #judgeList {
	width:800px;
	height:377px;
	background:url(images/judgebg.png) no-repeat;
}
div#judgeCon #judgeList ul {
	width:818px;
	margin-left:22px;
}
div#judgeCon #judgeList li {
	width:160px;
	color:#89d9a7;
	padding-right:43px;
	padding-top:20px;
	float:left;
	line-height:20px;
}
div#judgeCon #judgeList li span{
	color:#f5f969;
	}
	div#judgeCon #judgeList img{
		margin-bottom:10px;}