/* CSS Document */
div#qcode {
	_visibility:hidden;
	}
div#content.activityIntro {
	width:940px;
	height:797px;
	margin: 0 auto;
	padding-top:50px;
	*padding-top:100px;
	_text-align:left;
	background:url(images/eventdetailsbg.png) no-repeat;
}
div#content.activityIntroshengming{
	width:940px;
	height:1132px;
	margin: 0 auto;
	padding-top:50px;
	*padding-top:100px;
	_text-align:left;
	background:url(images/actshuoming.png) no-repeat;
}
div#content.activityIntroshengming1{
	width:940px;
	height:1320px;
	margin: 0 auto;
	padding-top:50px;
	*padding-top:100px;
	_text-align:left;
	background:url(images/actshuoming2.png) no-repeat;
}
div#content.activityIntro #share,div#content.activityIntroshengming #share,div#content.activityIntroshengming1 #share{
	color:#FFF;
	float:right;
	margin-right:50px;
	clear:both;
}
div#content.activityIntro #share img,div#content.activityIntroshengming #share img,div#content.activityIntroshengming1 #share img  {
    vertical-align: middle;
}
div#content.activityIntro .navigationButton1,div#content.activityIntroshengming .navigationButton1,div#content.activityIntroshengming1 .navigationButton1 {
	width:497px;
	height:43px;
	margin-top:70px;
	margin-left:50px;
	background:url(images/eventNavbg.png);
}
div#content.activityIntro .navigationButton2,div#content.activityIntroshengming .navigationButton2,div#content.activityIntroshengming1 .navigationButton2 {
	width:496px;
	height:42px;
	margin-top:70px;
	margin-left:50px;
	background:url(images/eventNavbg2.png);
}
div#content.activityIntro .navigationButton3,div#content.activityIntroshengming .navigationButton3 ,div#content.activityIntroshengming1 .navigationButton3  {
	width:496px;
	height:42px;
	margin-top:70px;
	margin-left:50px;
	background:url(images/eventNavbg3.png);
}
div#content.activityIntro .navigationButton4,div#content.activityIntroshengming .navigationButton4 ,div#content.activityIntroshengming1 .navigationButton4{
	width:496px;
	height:42px;
	margin-top:70px;
	margin-left:50px;
	background:url(images/eventNavbg4.png);
}
div#content.activityIntro .navigationButton1 a,div#content.activityIntro .navigationButton2 a,div#content.activityIntro .navigationButton3 a,div#content.activityIntro .navigationButton4 a, div#content.activityIntroshengming .navigationButton1 a,div#content.activityIntroshengming .navigationButton2 a,div#content.activityIntroshengming .navigationButton3 a,div#content.activityIntroshengming .navigationButton4, div#content.activityIntroshengming1 .navigationButton1 a,div#content.activityIntroshengming1 .navigationButton2 a,div#content.activityIntroshengming1 .navigationButton3 a,div#content.activityIntroshengming1 .navigationButton4{
	height:42px;
	color:#01554c;
	line-height:42px;
	font-size:18px;
	margin-left:40px;
}