html {
	font-size:100%;
	-webkit-text-size-adjust:none
}
article, aside, blockquote, body, button, code, dd, details, div, dl, dt, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, hr, html, img, input, legend, li, menu, nav, ol, p, pre, section, td, textarea, th, ul {
	margin:0;
	padding:0;
	word-wrap:break-word
}
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
	display:block
}
audio, canvas, video {
	display:inline-block;
*display:inline;
*zoom:1
}
audio:not([controls]) {
display:none
}
a, a:active, a:focus, a:hover {
	outline:0
}
a {
	cursor:pointer
}
a, a:hover, ins {
	text-decoration:none
}
sub, sup {
	position:relative;
	font-size:75%;
	line-height:0;
	vertical-align:baseline
}
sup {
	top:-.5em
}
sub {
	bottom:-.25em
}
img {
	vertical-align:middle;
	-ms-interpolation-mode:bicubic
}
button, input, select, textarea {
	margin:0;
	font-size:100%;
	vertical-align:middle
}
button, input {
	border:none;
*overflow:visible;
	line-height:normal
}
button::-moz-focus-inner, input::-moz-focus-inner {
padding:0;
border:0
}
button::-moz-focus-inner {
border-color:transparent!important
}
button, input[type=button], input[type=reset], input[type=submit] {
	cursor:pointer;
	-webkit-appearance:button
}
input[type=search] {
	-webkit-box-sizing:content-box;
	-moz-box-sizing:content-box;
	box-sizing:content-box;
	-webkit-appearance:textfield
}
input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
-webkit-appearance:none
}
textarea {
	overflow:auto;
	vertical-align:top
}
table {
	border-collapse:collapse;
	border-spacing:0
}
fieldset, img {
	border:0
}
iframe {
	display:block
}
abbr, acronym {
	border:0;
	font-variant:normal
}
del {
	text-decoration:line-through
}
address, caption, cite, code, dfn, em, th, var {
	font-style:normal;
	font-weight:500
}
small {
	font-size:85%
}
strong {
	font-weight:700
}
em {
	font-style:italic
}
ol, ul {
	list-style:none
}
caption, th {
	text-align:left
}
h1, h2, h3, h4, h5, h6 {
	font-size:100%;
	font-weight:400
}
blockquote:after, blockquote:before, q:after, q:before {
	content:''
}
html {
	-webkit-font-smoothing:antialiased
}
body {
	width:100%;
	height:auto;
	line-height:1;
	background:#00494c;
	
}
body, button, input {
	font-family:"微软雅黑"
}
a {
	color:#3d3d3d
}
.util-hide {
	display:none!important
}
.util-invisible {
	visibility:hidden!important
}
a#back{
	color:#060;
	display:block;
	width:100px;
	height:25px;
	line-height:25px;
	text-align:center;
	filter:alpha(opacity=50); -moz-opacity:0.50; opacity:0.80;
	background:#FFF;
	border-left:#CF3 solid 1px;
	border-bottom:#CF3 solid 1px;
	border-right:#CF3 solid 1px;
	border-bottom-right-radius:0.8em;
    border-bottom-left-radius:0.8em;
	}
.site-home {
	margin:0 auto;
	background:url(images/wholebg1.png) 50% 0 no-repeat;
	overflow:hidden;
	
}
.lottery{
	width:800px;
	height:579px;
	background:url(images/home-bg.png) no-repeat center top;
	margin:0 auto;
	position:relative;
	}
.site-home .lucky {
	z-index:6;
	position:absolute;
	top:20px;
	left:45px;
	
}
.site-home .lucky .draw {
	position:absolute;
	width:190px;
	height:77px;
	left:262px;
	top:237px;
	background:url(images/draw.png) no-repeat 0 0
}
.site-home .summary {
	margin:0 auto;
	background-color:#007872;
	border:2px solid #f1d589;
	width:800px;
}
.site-home .summary .title {
	height:58px;
	letter-spacing:-999999px;
	font-size:0;
	color:transparent;
	text-shadow:none;
	overflow:hidden;
	background:url(../img/summary_title.png) no-repeat center
}
.site-home .summary .content {
	margin:4px;
	padding:14px;
	background-color:#f0f0f0;
	font-size:28px;
	line-height:42px;
	color:#23282c
}
.site-home .summary .content h4 {
	margin:.7em 0 .1em;
	font-weight:700
}
.site-home .hot {
	margin-top:1.2em;
	color:#fff;
	font-size:32px;
	text-align:center;
	font-weight:700;
	line-height:1.5
}
.site-home .info {
	width:800px;
	margin:0 auto;
	border:1px solid #f1d589;
	font-size:28px;
	color:#f4f86a;
	line-height:1.5
}
.site-home .info tr td, .site-home .info tr th {
	border:1px solid #f1d589;
	padding:.5em;
	text-align:center
}
.site-home .info tr th {
	background-color:#027066;
	white-space:nowrap;
	word-wrap:normal
}
.site-home .info tr td, .site-home .info tr.single td {
	background-color:#328c65
}
.site-home .info tr.even td {
	background-color:#1a836b
}
.site-home .tips {
	text-align:center;
	margin:.8em 0 1em;
	line-height:1.5;
	color:#f4f86a
}
.site-take {
	font-size:28px;
	margin:40px 16px 16px;
	line-height:2
}
.site-take .control {
	margin:2px 0
}
.site-take input[type=text] {
	width:98%;
	height:60px;
	background-color:#fff;
	border:1px solid #9c9c9c;
	padding:0 .2em;
	-webkit-border-radius:.2em;
	-moz-border-radius:.2em;
	border-radius:.2em;
	line-height:1
}
.site-take .submit {
	margin-top:10px;
	margin-bottom:20px;
}
.site-take .submit p {
	margin:.3em 0
}
.site-take .submit .btn {
	width:100%;
	height:60px;
	text-align:center;
	line-height:60px;
	margin-bottom:20px;
	color:#fff;
	font-size:34px;
	background-color:#04857e;
	-webkit-border-radius:.4em;
	-moz-border-radius:.4em;
	border-radius:.4em
}
.site-emoji {
	text-align:center;
	line-height:2;
	font-size:28px;
	margin:0 16px
}
.site-emoji img {
	max-width:100%
}
.site-emoji .save, .site-emoji .share {
	display:block;
	margin:1em 0;
	height:90px;
	line-height:90px;
	text-align:center;
	background-color:#017c76;
	color:#fff;
	font-size:36px;
	-webkit-border-radius:20px;
	-moz-border-radius:20px;
	border-radius:20px
}
.site-emoji .save {
	margin-top:70px;
	font-size:30px
}
.site-emoji .help {
	display:block;
	text-align:center;
	border-top:3px solid #017c76;
	padding-top:.5em;
	font-weight:700;
	font-size:36px
}
.site-emoji .tips {
	font-size:30px;
	line-height:1.5;
	margin-bottom:.5em;
	color:#9c9c9c
}
.success {
	margin:16px;
	padding:15px;
	color:#3C763D;
	background-color:#DFF0D8;
	border:1px solid #D6E9C6;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	font-size:28px;
	line-height:1.5;
	text-align:center
}
.error {
	margin:16px;
	padding:15px;
	color:#a94442;
	background-color:#f2dede;
	border:1px solid #ebccd1;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	font-size:28px;
	line-height:1.5;
	text-align:center
}
.warning {
	padding:1em;
	color:#8a6d3b;
	background-color:#fcf8e3;
	border:1px solid #faebcc;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	font-size:28px;
	line-height:1.5;
	text-align:center
}
.modal-unique {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:99999;
	background-color:rgba(0, 0, 0, .4);
	overflow:hidden
}
.modal-unique .container {
	
}
.modal-unique .container h1 {
	color:#393939;
	font-size:30px
}
.modal-unique .container h1 strong {
	color:#017c76;
	font-weight:400
}

.modal-unique .container input[type=text]:-moz-placeholder {
color:#a1a1a1
}
.modal-unique .container input[type=text]:-ms-input-placeholder {
color:#a1a1a1
}
.modal-unique .container input[type=text]::-webkit-input-placeholder {
color:#a1a1a1
}
.modal-unique .container input[type=text].placeholder {
	color:#a1a1a1
}
.modal-unique .container input[type=text]:focus {
	outline:0
}
.modal-unique .container input[type=submit] {

}
.modal-unique .container input[type=submit]:disabled {
	cursor:default;
	background-color:#c6c6c6
}
.modal-unique .container .close {

}
.modal-unique .container .close.disabled {
	cursor:default;
	background-color:#c6c6c6
}
.modal-share {
	z-index:999999;
	position:fixed;
	text-align:center;
	width:100%;
	height:100%;
	left:0;
	top:0;
	min-height:800px;
	background-color:rgba(0, 0, 0, .8)
}
.modal-share img {
	width:95%
}
div#menu{
	width:700px;
	height:auto;
	background:#FFF;
	margin:0 auto;
	}
