input,button,select,textarea{outline:none}
.site-emoji {
	width:515px;
	height:645px;
	line-height: 2;
	font-size: 28px;
	padding-top:30px;
	background:url(images/lotterybg.png) no-repeat;
	position:relative;
	display:none;
}

.site-emoji h3{
	color:#f4f86a;
	padding-left:50px;
	
	}
.site-emoji h4{
	color:#f4f86a;
	font-size:18px;
	padding-left:50px;
	font-weight:lighter;
	}	
a#close{
	display:block;
	width:37px;
	height:34px;
	background:url(images/close.png) no-repeat;
	position:absolute;
	right:20px;
	top:10px;
	}
.site-emoji img {
	max-width: 82%;
	margin:0 auto;
	margin-top:30px;
	display:block;
	clear:both;
	
}

.site-emoji #save {
	display:block;
	width:173px;
	height:48px;
	background:url(images/savelocal.png) no-repeat;
	float:left;
	position:absolute;
	left:175px;
	bottom:80px;
	
}
.site-emoji #share{
	display:block;
	width:176px;
	height:48px;
	background:url(images/shareout.png) no-repeat;
	float:left;
	position:absolute;
	right:50px;
	bottom:80px;
	}
.site-emoji .help {
	display: block;
	text-align: center;
	border-top: 3px solid #017c76;
	padding-top: 0.5em;
	font-weight: 700;
	font-size: 36px;
}
.site-emoji .tips {
	font-size: 30px;
	line-height: 1.5;
	margin-bottom: 0.5em;
	color: #9c9c9c;
}
.success {
	margin: 16px;
	padding: 15px;
	color: #3C763D;
	background-color: #DFF0D8;
	border: 1px solid #D6E9C6;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	font-size: 28px;
	line-height: 1.5;
	text-align: center;
}
.error {
	margin: 16px;
	padding: 15px;
	color: #a94442;
	background-color: #f2dede;
	border: 1px solid #ebccd1;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	font-size: 28px;
	line-height: 1.5;
	text-align: center;
}
.warning {
	padding: 1em;
	color: #8a6d3b;
	background-color: #fcf8e3;
	border: 1px solid #faebcc;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	font-size: 28px;
	line-height: 1.5;
	text-align: center;
}
.modal-unique {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 99999;
	background-color: rgba(0, 0, 0, 0.4);
	overflow: hidden;
}
.modal-unique .container {
	position: relative;
	width:544px;
	height:485px;
	background:url(images/lotterypopupbg.png) no-repeat;
	margin: 0 auto;
	text-align: center;
	padding: 32px 0;
}
.modal-unique .container h1 {
	color:#f4f86a;
	font-size: 28px;
	text-align:left;
	margin-left:30px;
	margin-top:50px;
	line-height:40px;
}
.modal-unique .container h2{
	color:#f4f86a;
	font-size: 20px;
	text-align:left;
	line-height:60px;
	margin-left:30px;
	font-weight:lighter;
	}
.modal-unique .container h1 strong {
	color:#ff6666;
	font-weight: 400;
}
.modal-unique .container input[type=text] {
	display:block;
	width: 347px;
	height: 46px;
	background:url(images/inputcodebg.png) no-repeat;
	font-size: 26px;
	color:#FFF;
	line-height: 33px;
	overflow: hidden;
	margin-top:10px;
	margin-left:20px;
	margin-bottom:70px;
	padding:0 10px;

}
.modal-unique .container input[type=text]:-moz-placeholder {
 color: #a1a1a1;
}
.modal-unique .container input[type=text]:-ms-input-placeholder {
 color: #a1a1a1;
}
.modal-unique .container input[type=text]::-webkit-input-placeholder {
 color: #a1a1a1;
}
.modal-unique .container input[type=text].placeholder {
	color: #a1a1a1;
}
.modal-unique .container input[type=text]:focus {
	outline: none;
}
.modal-unique .container input[type=submit] {
	width:178px;
	height:51px;
	display:block;
	line-height: 51px;
	font-size:20px;
	color:#f4f86a;
	background:url(images/commentbtn.png) no-repeat;
	margin-left:20px;
}
.modal-unique .container input[type=submit]:disabled {
	cursor: default;
}
.modal-unique .container .close {
	display: block;
	width: 42px;
	height:40px;
	background:url(images/closebtn.png) no-repeat;
	position:absolute;
	right:50px;
	top:10px;
}
.modal-unique .container .close.disabled {
	cursor: default;
	background-color: #c6c6c6;
}
.modal-share {
	top: 5px;
	z-index: 999999;
	position: fixed;
	text-align: center;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	min-height: 800px;
	background-color: rgba(0, 0, 0, 0.8);
}
.modal-share img {
	width: 95%;
}
