div#content.music #period {
	height:566px;
	width:235px;
	background:url(images/leftsidebarbg.png) no-repeat;
	margin:0 auto;
}
div#content.music #left{
	float:left;
	}
div#content.music #period ul {
	height:230px;
	width:230px;
	padding-top:135px;
}
div#content.music #period .period1 a {
	display:block;
	width:225px;
	height:42px;
	background:url(images/auditionbg.png) no-repeat;
}
div#content.music #period li.period1  a.periodActive{
	display:block;
	width:225px;
	height:42px;
	background:url(images/auditionbg2.png) no-repeat;
}
div#content.music #period li.period2  a.periodActive{
	display:block;
	width:225px;
	height:42px;
	background:url(images/wujinershiwu.png) no-repeat;
}
div#content.music #period li.period3 a.periodActive{
	display:block;
	width:225px;
	height:42px;
	background:url(images/ershiwujinshi2.png) no-repeat;
}
div#content.music #period li.period4 a.periodActive{
	display:block;
	width:225px;
	height:42px;
	background:url(images/fhs2.png) no-repeat center;
}
div#content.music #period li.period5 a.periodActive{
	display:block;
	width:225px;
	height:42px;
	background:url(images/shier2.png) no-repeat center;
}
div#content.music #period li.period6 a.periodActive{
	display:block;
	width:225px;
	height:42px;
	background:url(images/finalmatch2.png) no-repeat center;
}
div#content.music #period li {
	margin-bottom:29px;
}
div#content.music #period #mass-election {
	background:url(images/auditionbg2.png) no-repeat;
	padding:10px 130px 15px 80px;
	margin-top:10px;
}

	
li.period2 a{
	display:block;
	width:225px;
	height:42px;
	background:url(images/wujinershiwu2.png) no-repeat;
	
}
li.period3 a{
	display:block;
	width:225px;
	height:42px;
	background:url(images/ershiwujinshi.png) no-repeat;
}
li.period4 a{
	display:block;
	width:225px;
	height:42px;
	background:url(images/fhs.png) no-repeat center;
}
li.period5 a{
	display:block;
	width:225px;
	height:42px;
	background:url(images/shier.png) no-repeat center;
}
li.period6 a{
	display:block;
	width:225px;
	height:42px;
	background:url(images/finalmatch.png) no-repeat center;
}
div#content.music #main {
	width:686px;
	height:710px;
	margin-top:20px;
	background:url(images/rightsidebg.png) no-repeat;
	float:left;
}
div#content.music #main #time {
	width:630px;
	margin-left:60px;
	margin-top:40px;
	width:320px;
}
div.filter {
	margin-left:60px;
	margin-top:20px;
}
div#content.music #main #project {
	width:400px;
	margin:0px;
}
div#content.music #main #scanDiv {
	width:230px;
	margin:0px;
	margin-top:-30px;
	margin-right:50px;
	float:right;
}
div #content .musics {
	width:640px;
	height:550px;
	overflow:hidden;
	margin-left:60px;
}
div#content .musicItem {
	width:160px;
	height:160px;
	padding-right:30px;
	margin-top:15px;
	vertical-align: bottom;
	float:left;
	margin-bottom:10px;
}
div#content .musicItem a{
 /*color:#f7fa69;*/
}
div#content.music img {
	width:167px;
	height:96px;
}
div#content .musicItem .musicImg{
	position:relative;
	margin-bottom:100px;
	
	}
div#content .musicItem .musicImg img{
	position:absolute;
	border-radius:3px;
	border:1px solid #87cc8d;
	}
div#content .musicItem .musicImg img#playLogo{
	width:54px;
	height:52px;
	border:none;
	position:absolute;
	left:50px;
	top:20px;
	}		
p2 {
	margin:230px;
	padding:40px;
}
div#content .musicItem h4 a{
	color:rgb(247,251, 105);
	
	}
h4 {
	font-size: 14px;
	color:rgb(247,251, 105);
	line-height:25px;
}
span.singer {
	font-size: 14px;
	color:#FFF;
}
div.voteDiv {
	background:url(images/votebg.png) no-repeat;
	height:30px;
	width:150px;
	padding-left:5px;
	padding-top:7px;
	cursor:pointer;
}

div.voteDiv span.num {
display:inline-block;
 width:60px;
 text-align:center;
 color:#fff;
 margin-left:10px;
}
div.voteDiv a.voteButton {
 color:#14655b;
 margin-left:16px;
 font-weight:bold;
}
div.voteDiv a.voteButton:hover{
	color:#090;
	}

div.voteDiv a.nagitiveVoteButton {
	color:#14655b;
	margin-left:10px;
	
}
div#content.music #works {
	width:590px;
	height:530px;
	margin-left:60px;
}
