
div#content.news{
	width:926px;
	height:962px;
	background:url(images/matchreportbg.png) no-repeat;
	}
div#content.news #newcontent{
	padding:120px 0 0 40px;
	}
div#content .newsItem{
	width:837px;
	height:148px;
	padding:13px;
	margin-bottom:20px;
	background:url(images/reporttextbg.png) no-repeat;
	}	
div#content .newsItem img{
	width:200px;
	height:120px;
	margin-right:20px;
	float:left;
	border:#8ccd8b solid 1px;
	}	
div#content .newsItem h3{
	display:inline;
	width:300px;
	font-size:18px;
	background:url(images/rhomb.png) no-repeat;
	padding-left:15px;
	}
div#content .newsItem a{
	color:#abd7b9;
	text-decoration:underline;
	}	
div#content .newsItem h3 a{
	color:#f3f86a;
	text-decoration:none;
	}	
div#content .newsItem #time{
	width:100px;
	color:#16977f;
	font-size:16px;
	margin:0;
	padding:0;
	float:right;
	}
div#content .textarea{
	width:580px;
	line-height:30px;
	float:left;
	}	
div#content .newsItem p{
	width:550px;
	height:65px;
	color:#FFF;
	line-height:20px;
	}
	

/*newsdetail*/	
div#content.newsDetail{
	width:940px;
	}
div#article, div#moreNews {
    float: left;
}
div#content.newsDetail div#article{
	width:611px;
	height:842px;
	background:url(images/macthnewtextbg.png) no-repeat;	
   /* position:relative;
	left:0px;
	top:0px;*/
    float:left;
	}
div#content.newsDetail article {
	clear:both;
	display:block;
	width:500px;
    max-height: 600px;
/*    overflow-x:hidden;*/
	overflow-y:scroll ;
	/*overflow:scroll !important; 
	overflow-x:auto !important; 
	overflow-y:hidden !important;*/
    margin-right: 9px;
    padding: 10px;
	margin:120px 50px 50px 50px;
}
div#content.newsDetail article img {
    width: 100%;
}

div#content.newsDetail .newsTitle h1{
	color:#f3f86a;
	font-size:18px;
	line-height:30px;
	}
div#content.newsDetail .newsTitle .time{
	color:#16977f;
	line-height:20px;
	font-size:12px;
	margin-bottom:10px;
	}
div#content.newsDetail .newsTitle hr{
	 height:1px;
	 border:none;
     border-top:1px solid #60b2a4;
	}
div#content.newsDetail article p{
	color:#FFF;
	line-height:20px;
	margin-top:10px;
	}
div#content.newsDetail div#moreNews {
	position:relative;
    width:300px;
	height:456px;
	float:left;
	background:url(images/voidonewlistbg.png) no-repeat;
}
div#content.newsDetail div#moreNews ul{
	margin:120px 10px 20px 20px;
	}
	
div#content.newsDetail div#moreNews ul li{
	padding:0px 5px;
	line-height:38px;
	}	
div#content.newsDetail div#moreNews ul li:nth-child(2n){
	background:#0e7463;
	}		
div#content.newsDetail div#moreNews ul li span.title{
	color:#FFF;
	background:url(images/newlistaimg.png) no-repeat;
	padding-left:20px;
	}
div#content.newsDetail div#moreNews ul li a:hover span.title{
	color:#f7fa69;
	background:url(images/newlistahoverimg.png) no-repeat;
	text-decoration:underline;
	}	
div#content.newsDetail div#moreNews ul li span.time{
	color:#f7fa69;
	font-weight:lighter;
	float:right;
	}
div#moreNews .more{
	width:60px;
	background:url(images/seemorebg.png) no-repeat;
	padding: 0px 34px 20px 33px;
	position:absolute;
	top:415px;
	left:127px;
	cursor:pointer;
	
	}		
						