/* CSS Document */
* {
	margin:0;
	padding:0;
}
body {
	width:100%;
	height:auto;
	_text-align:center;
	font-size:14px;
	font-family:Arial, Helvetica, sans-serif;
	background:#007b75;
}
a, a:hover {
	text-decoration:none;
}
div#container {
	width: 100%;
	height:auto;
	background:url(images/wholebg1.png) no-repeat 50% 0;
	zoom:1;
}
div#footer{
	width:100%;
	height:589px;
	background:url(images/footerbg.png) no-repeat 50% 0;
	margin:0 auto;
	}
/*头部*/
div#header {
	width:940px;
	height:auto;
	margin:0 auto;
	_text-align:left;
	zoom:1
}
div#header:after {
	display:block;
	clear:both;
	content:"";
	visibility:hidden;
	height:0
}
div#company {
	display:inline;
	height:25px;
	font-size:15px;
	margin-left:20px;
	line-height:30px;
	color: rgb(20, 101, 91);
}
div#company img {
	vertical-align:middle;
}
div#home {
	width:85px;
	height:40px;
	float: left;
	margin-top:5px;
	padding-top:5px;
	_padding-top:5px;
	
	background:url(images/homebg.png) no-repeat;
}
div#home a {
	padding-left:22px;
	font-weight:bold;
	color:#14655b;
}
div#personalCenter {
	float: right;
	width: 324px;
	height:34px;
	background:url(images/personal.png) no-repeat;
	text-align: center;
	font-size:15px;
	color:#FFF;
	padding-top:7px;
	margin-right:50px;
}
div#personalCenter a {
	display: inline-block;
	padding:0 5px;
	color:#FFF;/*border-right:#FFF 1px solid;*/
}
div#personalCenter a+a {
	border-left:#FFF 1px solid;
}
div#personalCenter a:last-child {
	color:#f5f969;
}
div#navigation {
	width:1100px;
	height:50px;
	margin-top:205px;
	margin-left:180px;
}
div#navigation a {
	padding-right:457px;
	font-size:18px;
	font-family:"宋体", serif;
	font-weight:bold;
	color:#FFF;
}
div#navigation a:hover {
	color:#f5f969;
}
/*大标题*/
div#title {
	width:940px;
	height:349px;
	_text-align:left;
	margin:0px auto;
	overflow:hidden;
	background:url(images/nav50bg.png) center no-repeat;
	
}
div#title .button {
	width100%;
	height:20px;
	margin-top:273px;
	
}
div#title .button a{
	color:#FFF;
	font-size:20px;

	}	
div#title .button a:hover{
	color:#f7fa69;
	
	}
div#title .button a.index{
	margin-right:15px;
	margin-left:50px;

	}
div#title .button a.works{
	margin-right:466px;

	}	
div#title .button a.news{
	margin-right:13px;

	}
/*中间*/
div#content {
	width:940px;
	height:auto;
	margin:0px auto;
	zoom:1;
	_text-align:left;
}
div#content:after {
	display:block;
	clear:both;
	content:"";
	visibility:hidden;
	height:0
}
div#timeLine {
	float: left;
	width: 250px;
	height: 430px;
	background: url("images/leftsidebg.png") no-repeat;
}
div#mainPart {
	float: left;
	width: 635px;
	height: 712px;
	padding: 35px;
 *padding:60px 45px 0 25px;
	background: url("images/rightsidebg.png") 0 22px no-repeat;
}
div#time {
	color:#f5f969;
	margin-bottom:20px;
	margin-left:15px;
	margin-top:30px;
}
div#project, div#scanDiv {
	float: left;
	color:#f5f969;
	margin-left:15px;
	margin-bottom:6px;
 *margin-right:-20px;
 *margin-left:15px;
}
#projectSubmit {
	width:70px;
	height:30px;
	background:none;
	color:#01554c;
	border:0;
}
div#scanDiv {
	float: right;
 *width:40%;
}
div#scanDiv span {
 *float:left;
}
div#project div#sourceForm {
    float:left;
	width:260px;
	height:29px;
	padding-left:10px;
	padding-top:2px;
 *padding-top:0px;
	_padding-left:10px;
	background:url(images/searchbg.png) no-repeat;
}
div#project label {
	float:left;
	line-height:30px;
	margin-right:10px;
}
#projectInput {
	padding: 4px 16px 4px 4px;
	line-height: 21px;
	width:170px;
	background: none;
	/*background:#01544c;*/
	border:0;
	color:#FFF;
}
div.filter:after {
	display:block;
	clear:both;
	content:"";
	visibility:hidden;
	height:0
}
div.filter {
	width:600px;
	zoom:1
}
/*筛选按钮*/
div#scanDiv div {
	display: inline-block;
	width:150px;
	height:28px;
}
div#scanDiv span {
	color:#FFF;
	height:28px;
	line-height:28px;
}
div#scanDiv .vote {
	vertical-align:middle;
	background-image:url(images/votestate1.png);/*图片1*/
}
div#scanDiv .time {
	/*图片2*/
	vertical-align:middle;
	background-image:url(images/votestate2.png);
}
div#listenList table {
	margin: 3%;
	width: 94%;
	_width:100%;
}
div#listenList table td, div#listenList table th {
	text-align: left;
}
div#listenList table a {
	color:#f5f969;
}
div#listenList table thead tr {
	line-height: 32px;
	color:#14655b;
	background-color: #f5f969;
}
div#listenList table thead tr th {
	font-weight:bold;
}
div#listenList table tbody tr {
	width:600px;
	color:#FFF;/*background:url(images/listevenbg.png) no-repeat;*/
}
div#listenList table tbody tr:nth-child(even) {
 background-color: #14655b;
}
div#listenList table tbody td.title {
	text-align: left;
	padding-left:40px;
}
div#listenList table tbody td.singer span {
	display: inline-block;
	width: 70px;
	text-align: left;
	vertical-align:middle;
}
div#listenList table tbody tr:nth-child(even) {
 background-color: #14655b;
}
div#listenList table tbody tr td {
	padding:7px 0;
	_padding:7px 0px;
}
div#listenList table tbody tr td:first-child {
	color:#f5f969;
}
div#listenList table tbody tr td a.play {
	padding:3px 26px 7px 16px;
	background:url(images/playbtn.png) no-repeat;
}
div#listenList div.voteDiv {
	/*width:135px;*/
	height:30px;
	/*padding-left:25px;*/
	/*padding-top:3px;*/
    line-height: 30px;
	background:url(images/votebg.png) center no-repeat;
}
div#listenList div.voteDiv .num {
     color:#14655b;
	display: inline-block;
	width: 73px;
	padding-left:5px;
}
div#listenList table tbody tr a.voteButton {
	color:#f5f969;
	padding-left:20px;
}
div#listenList table tbody tr a.shareButton {
	padding-right:20px;
	background:url(images/sharebtn.png) no-repeat;
}
div#listenList table tbody td.share {
}
div#listenList table tbody td div.sharePositionDiv {
    position: relative;
}
div.sharepopup{
    position:absolute;
    top:-8px;
    left: 53px;
    width:197px;
    height:32px;
    background:url(images/fourshare.png) no-repeat;
    color:#FFF;
    line-height:32px;
    font-size:14px;
}
div.sharepopup img{
    vertical-align:middle;
}
div#page {
	clear:both;
	float:right;
	padding-top:20px;
	margin-right:20px;
}
div#page a {
	padding-right:20px;
	color:#f5f969;
}
div#page a:hover {
	text-decoration:underline;
}
div#page a:active {
	text-decoration:underline;
}
div#page .page_active{color:#fff; text-decoration:underline;}
div#qcode {
	z-index:10;
	position:fixed;
	_bottom:900px;
	bottom:15%;
	_text-align:right;
	
	right:10px;
	padding:0;
	margin:0;
}
/*弹出窗口*/
a#close {
	width:34px;
	height:34px;
	background:url(images/close.png) no-repeat;
	border:none;
	float:right;
	margin-right:90px;
	margin-top:20px;
	clear:both;
}
div#float {
	z-index:100;
	width:783px;
	height:386px;
	margin: 0 auto;
	color:#f5f969;
	/*position:fixed;*/
	/*bottom:20px;*/
	/*right:250px;*/
	background:url(images/popupbg.png) no-repeat;
	position:relative;
}
.message {
	width:210px;
	margin:100px 30px 80px 20px;
	float:left;
	font-weight:bold;
	font-size:16px;
	line-height:20px;
	text-align:center;
}
.message a{
	display:block;
	width:108px;
	height:29px;
	margin:20px auto;
	color:#FFF;
	text-decoration:none;
	}
.message a.login{
	background:url(images/floatlogin.png) no-repeat;
	}
.message a.signup{
	background:url(images/floatsignup.png) no-repeat;
	}	
.message a.warning{
	width:165px;
	color: rgb(245, 249, 105);
	}
.message span {
	line-height:60px;
	font-size:20px;
	font-weight:bold;
}
.message span {
	line-height:60px;
	font-size:20px;
	font-weight:bold;
}
.uniqueCode {
	width:280px;
	padding-top:40px;
	padding-left:230px;
}
.inputBg{
	width:265px;
	height:35px;
	padding:9px 10px 0px 15px;
	background:url(images/codebg.png) no-repeat;
	}
#uniqueCodeInput {
	width:230px;
	border:none;
	background:none;
	color:#FFF;
	font-size:14px;
		
}
.uniqueCode h4 {
	font-size:20px;
	font-weight:bold;
	line-height:25px;
	letter-spacing:2px;
	padding-left:10px;
}
.uniqueCode h4.messageColor {
  color: #F66;
}
.uniqueCode p {
	line-height:20px;
	padding:10px;
}
a#sureVote {
	display:block;
	width:89px;
	height:28px;
	margin-top:10px;
	margin-left:10px;
	color:#f5f969;
	font-size:14px;
	line-height:28px;
	text-align:center;
	background:url(images/confirmbtn.png) no-repeat;
	border:none;
}
div#float .qcode {
	padding-top:10px;
	padding-left:10px;
	font-weight:bold;
	line-height:20px;
	position:absolute;
	color:#f5f969;
	/*bottom:55px;*/
}
div#float .qcode span a {
	color:#f5f969;
	font-weight:normal;
}
div#float .qcode span a:hover {
	text-decoration:underline;
}
div#float .qcode p a {
	color:#f5f969;
	text-decoration:underline;
	line-height:50px;
	font-weight:normal;
}
div#uploading{
	margin-top:20px;
	}
div#uploading img#upimg{
	width:218px;
	height:139px;
	}	
div#title .button a.active{
	color: #f7fa69;
}