/* CSS Document */

div#content #detailsleft {
	width:630px;
	height:auto;
	float:left;
	color:#FFF;
}
div#content #detailsright {
	width:310px;
	float:left;
}
div#content #detailsleft .video {
	width:630px;
	height:561px;
	margin-bottom:10px;
	padding:15px 0 0 15px;
	background:url(images/workvideobigbg.png) no-repeat;
}
div#content #detailsleft .video .videoleft{
	width:380px;
	height:65px;
	padding-top:10px;
	float:left;
	}
div#content #detailsleft .video .videoright{
	width:200px;
	height:65px;
	float:left;
	cursor:pointer;
	}	
div#content #detailsleft .video .votenum {
	display:block;
	width:170px;
	text-align:center;
	font-size:16px;
	color:#FFF;
}
div#content #detailsleft .video h3 {
	clear:both;
	display:inline;
	width:400px;
	height:30px;
	line-height:35px;
	margin-bottom:10px;
	overflow:hidden;
	/*overflow:hidden;*/
	font-size:22px;
	color:#FFF;
	float:left;
}
div#content #detailsleft .video #voteButton {
	display:inline-block;
	width:182px;
	height:52px;
	line-height:52px;
	background:url(images/iwantvotetext.png) no-repeat;
}
div#content #detailsleft .video #rankandgrade {
	clear:both;
	display:block;
	color:#FFF;
	padding-left:10px;
}
div#content #detailsleft .video #rankandgrade span {
	color:#f7fa69;
	font-size:16px;
}
div#content #detailsleft .video #rankandgrade span.voteranking {
	width:100px;
	margin-right:60px;
}
div#content #detailsleft .video #rankandgrade span.judgegrade {
	width:150px;
	height:20px;
}
div#content #detailsleft .video .videoplayarea {
	width:404px;
	height:266px;
	background:#0e7c6b;
	margin:5px 0;
	float:left;
}
div#content #detailsleft .video .videoPeriod {
	width:170px;
	height:266px;
	float:left;
	padding-top:10px;
	padding-left:5px;
	overflow-x:hidden;
	overflow-y:auto;
}
div#content #detailsleft .video .videoPeriod span{
	margin-left:5px;
	margin-bottom:5px;
	display:block;
	}
div#content #detailsleft .video .videoPeriod a {
	display:block;
	width:145px;
	height:70px;
	text-align:center;
	color:#fff;
	background:url(images/smallvideo.png) no-repeat;
	padding-top:14px;
	padding-left:10px;
}
div#content #detailsleft .video .videoPeriod a:hover{
	background:url(images/smallvideoon.png) no-repeat;
	color:#01524a;
	font-weight:bold;
	}
div#content #detailsleft .video .videoPeriod a:active {
	color:#01574e;
	background:#f7fa69;
}
div#content #detailsleft .video .videoPeriod a.active{
	background:url(images/smallvideoon.png) no-repeat;
	color:#01524a;
	font-weight:bold;
	}
div#content #detailsleft .video .videoPeriod ul li span {
	width:35px;
	height:auto;
	line-height:16px;
	display:block;
	float:left;
	text-align:left;

}
div#content #detailsleft .video .videoPeriod ul .videoClicked{
  background:url(images/smallvideoon.png) no-repeat;
}
div#content #detailsleft .video .videoPeriod ul .videoClicked a{
  color:#01524a;
  font-weight:bold;
}
div#content #detailsleft .video .videoPeriod ul li img {
	width:87px;
	height:49px;
	float:left;
}
div#content #detailsleft .video h4 {
	clear:both;
	font-size:14px;
	padding-top:8px;
	padding-bottom:8px;
}
div#content #detailsleft .video p {
	width:539px;
	height:50px;
	font-size:12px;
	background:url(images/workidealbg.png) no-repeat;
	padding:14px 10px 10px;
}
div#content #detailsleft .video p span{
	display:block;
	line-height:20px;
	height:40px;
	overflow-y:auto;
	}
div#content #detailsleft .video #share {
	float:right;
	padding-right:75px;
	margin-bottom:5px;
	margin-top:5px;
}
div#content #detailsleft .video #share img{
	vertical-align:middle;
	}
div#content #detailsleft .video #preandnext {
	clear:both;
	width:550px;
	font-size:16px;
}
div#content #detailsleft .video #preandnext a {
	color:#f7fa69;
}
div#content #detailsleft .video #preandnext a.presong {
	display:inline-block;
	width:67px;
	height:21px;
	background:url(images/presong.png) no-repeat;
}
div#content #detailsleft .video #preandnext a.nextsong {
	float:right;
	display:inline-block;
	width:67px;
	height:21px;
	background:url(images/nextsong.png) no-repeat;
}
/*评论部分=========================================*/
div#content #detailsleft .comment {
	width:567px;
	height:518px;
	padding:100px 20px 20px 30px;
	background:url(images/workstudiocommetbg.png) no-repeat;
	position:relative;
}
div#page{
	position:absolute;
	bottom:50px;
	right:20px;
	}
div#content #detailsleft .comment span#textCount{
	color:#f5f969;
	font-size:14px;
	float:right;
	margin-right:40px;
	}
div#content #detailsleft .comment .commtextarea p {
	direction:rtl;
	color:#f7fa69;
	margin-right:40px;
}
div#content #detailsleft .comment .commtextarea #textandcomment {
	clear:both;
	width:562px;
	height:149px;
	background:url(images/commenttextbg.png) no-repeat;
}
div#content #detailsleft .comment .commtextarea #textandcomment textarea {
	resize:none;
	width:500px;
	height:44px;
	max-width:500px;
	max-height:70px;
	overflow-y:hidden;
	color:#FFF;
	font-size:12px;
	margin:20px 10px 10px 20px;
	background:none;
	border:none;
}
div#content #detailsleft .comment .commtextarea #textandcomment .iwantcomment {
	display:block;
	width:153px;
	height:53px;
	background:url(images/iwantvotebtn.png) no-repeat;
	float:right;
	margin-right:38px;
	margin-top:5px;
}
div#content #detailsleft .comment .commtextarea #share {
	margin-top:35px;
	margin-left:20px;
}
div#content #detailsleft .comment .commtextarea #share img {
	vertical-align:middle;
}
div#content #detailsleft .comment .commtextarea #textandcomment input.iwantcomment {
	width:120px;
	height:53px;
	border:none;
	float:right;
	background:url(images/iwantvotebtn.png) no-repeat;
	margin-right:25px;
	cursor:pointer;
}
div#content #detailsleft .comment .allcomments {
	width:534px;
	height:300px;
}
div#content #detailsleft .comment .allcomments h3 {
	font-size:16px;
	line-height:30px;
}
div#content #detailsleft .comment .allcomments h4 {
	color:#f7fa69;
	margin-left:15px;
	margin-top:15px;
}
div#content #detailsleft .comment .allcomments p {
	width:500px;
	height:50px;
	line-height:18px;
	font-size:12px;
	padding-top:8px;
	padding-left:9px;
	padding-right:30px;
	word-break:break-all;
	background:url(images/workcommlistbg.png) no-repeat;
}
div#content #detailsleft .comment .allcomments hr {
	height:2px;
	border:none;
	border-top:2px solid #679935;
}
div#content #detailsleft .comment .allcomments #page span{
	cursor:pointer;
	color:#F5F969;padding-right: 20px;
}
div#content #detailsleft .comment .allcomments #page .page_active {
    color: #FFF;
    text-decoration: underline;
}
/*直播室*/				
div#content #detailsright .studio {
	widows:307px;
	height:225px;
	color:#FFF;
	padding-top:210px;
	padding-left:25px;
	background:url(images/singerinfobg.png) no-repeat;
}
div#content #detailsright .studio h3 {
	font-size:18px;
	line-height:40px;
}
div#content #detailsright .studio img {
	width:93px;
	height:117px;
	float:left;
	margin-right:10px;
}
div#content #detailsright .studio p {
	line-height:20px;
	height:117px;
}
div#content #detailsright .studio p span {
	display:block;
	width:140px;
	height:90px;
	overflow-y:auto;
	padding-right:20px;
}
div#content #detailsright .studio a {
	clear:both;
	font-size:16px;
	color:#01524a;
	font-weight:bold;
	background:url(images/notinstudiobtn.png) no-repeat;
	padding:9px 50px 10px 40px;
	position:relative;
	top:50px;
	left:55px;
}
div#content #detailsright .chart {
	width:310px;
	height:771px;
	color:#FFF;
	background:url(images/workchartlong.png) no-repeat;
	position:relative;
	padding:100px 20px 10px 10px;
}
div#content #detailsright .chart h2 {
	width:225px;
	color: rgb(1, 82, 74);
	font-size:16px;
	font-weight:bold;
	background:url(images/workdetaillotterytheadbg.png) no-repeat;
	padding:11px 30px 10px 110px;
}
div#content #detailsright .chart ul {
	margin-top:10px;
	margin-bottom:13px;
}
div#content #detailsright .chart ul li a {
	color:#FFF;
}
div#content #detailsright .chart ul li.top {
	background:url(images/workvotememberbg.png) no-repeat;
}
div#content #detailsright .chart ul li {
	clear:both;
	display:block;
	width:287px;
	height:70px;
	padding-top:10px;
	padding-left:15px;
	background:url(images/comareabg2.png) no-repeat;
	margin-bottom:10px;
}
div#content #detailsright .chart h3 {
	line-height:25px;
}
div#content #detailsright .chart span.ranknum {
	float:left;
	height:70px;
	font-size:18px;
	font-style:italic;
	color:#f7fa69;
	line-height:70px;
}
div#content #detailsright .chart h4 {
	width:112px;
	display:inline;
	color:#dce866;
	line-height:20px;
	float:left;
}
div#content #detailsright .chart h4 span{
	width:90px;
	overflow:hidden;
	}
div#content #detailsright .chart img {
	width:113px;
	height:64px;
	float:left;
	margin:0px 10px;
}
div#content #detailsright .chart a.seemore {
	height:30px;
	font-size:16px;
	color:#FFF;
	list-style:80px;
	background:url(images/seemorebg.png) no-repeat;
	padding:0px 20px 20px 50px;
	position:absolute;
	top:722px;
	left:125px;
}
div#content #detailsleft .video .videomessage {
	width:150px;
}
div#content #detailsleft .video .videomessage h3 {
	display:inline;
	width:300px;
}
div#content #detailsleft .video .videoplayarea {
	clear:both;
}

