@charset "utf-8";

/* CSS Document */
body {
	width:100%;
	height:auto;
	_text-align:center;
	font-size:14px;
	font-family:Arial, Helvetica, sans-serif;
	background:#007b75;
}
a, a:hover {
	text-decoration:none;
}
div#container{
	width: 100%;
	height:auto;
	background:url(images/workrankbg.png) no-repeat 50% 0;
	}

div#header {
	_text-align:left;
	width: 1210px;
	height:auto;
	margin:0 auto;
	}
div#main{
	width:899px;
	height:auto;
	margin:0 auto;
	margin-top: -35px;
}	
div#footer{
	z-index:-1;
	height:491px;
	background:url(images/indexfooterbg.png) no-repeat 50% 0;
	}
		
div#personalCenter {
	float: right;
	width: 324px;
	height:34px;
	background:url(images/personal.png) no-repeat;
	text-align: center;
	font-size:15px;
	color:#FFF;
	padding-top:7px;
	margin-right:15%;
}
div#personalCenter a {
	display: inline-block;
	padding:0 5px;
	color:#FFF;/*border-right:#FFF 1px solid;*/
}
div#personalCenter a+a {
	border-left:#FFF 1px solid;
}
div#personalCenter a:last-child {
	color:#f5f969;
}
div#companyAndScroll{
	/*width:900px;*/
	height:245px;
}
div#companyAndScroll img{
	display:block;
	position:relative;
	top:250px;
	left:790px;
	}	
div#header marquee{
	display:block;
	width:241px;
	height:27px;
	line-height:27px;
	margin:0 30px 0 26px;
	font-size:16px;
	background:url(images/scrollbar.png) no-repeat;
	position:relative;
	top:250px;
	left:790px;
}
div#title{
	display:block;
	width:932px;
	height:179px;
	line-height:229px;
	background:url(images/navbg2.png) no-repeat;
	margin:10px auto 0;
	}
div#title .button{
	width:100%;
	height:50px;
	margin-left:50px;
	}	
div#title .button a{
	color:#FFF;
	font-size:20px;
	}	
div#title .button a:hover{
	color:#f7fa69;
	
	}
div#title .button a.active{
	color:#f7fa69;
}
div#title .button a.index{
	margin-right:13px;
}
div#title .button a.works{
	margin-right:466px;
}	
div#title .button a.news{
	margin-right:13px;
}
div#bottomSide{
} 
div#main #words_rank{
  /*width:480px;*/
  height:240px;
  padding: 60px 30px;
  background:url(images/workchart.png) no-repeat;
  float:left;
}
div#footer{
	clear:both;
	}	
div#main div#lottery{
	width:899px;
	height:290px;
	background:url(images/qrcodelottery.png) no-repeat;	
}
div#main div#lottery a{
	display:block;
	width:128px;
	height:41px;
	line-height:41px;
	text-align:center;
	color:#027b6f;
	font-size:21px;
	font-weight:bold;
	background:url(images/justnowlotterybtn.png) no-repeat;
	position:relative;
	top:223px;
	left:35px;
}	
div#main #words_rank .more{
	display:block;
	width:119px;
	height:26px;
	line-height:26px;
	background:url(images/seemorework.png) no-repeat;
	margin-left:400px;
	margin-bottom:20px;
	}
div#main #words_rank #works:after{display:block;clear:both;content:"";visibility:hidden;height:0}
div#main #words_rank #works{zoom:1}
	
	
div#page {
	padding-left:340px;
	padding-top:30px;
}
div#page a {
	padding-right:20px;
	color:#f5f969;
}
div#page a:hover {
	text-decoration:underline;
}
div#page a:active {
	text-decoration:underline;
}
div#page .page_active{color:#fff; text-decoration:underline;}
div#qcode {
	z-index:10;
	position:fixed;
	bottom:15%;
	right:10px;
	padding:0;
	margin:0;
}	
#news_report{
 position:relative;
 background:url(images/game_report.png) no-repeat ;
 width:302px;
 height:360px; 
 float:left;
}

#words_rank #look_for_more{
  float:right;
  margin-top:60px;
  margin-right:35px;
 
}
#words_rank #look_for_more a{
  color:#fff;font-weight:800;
  font-family:"宋体";
}
#words_rank #works #work_item{
 width:167px;
 height:210px;
 float:left;
 margin-right:12px;
}
#words_rank #works #work_item .work_img{
	position:relative;
	
	}
#words_rank #works #work_item .profile{
	display:block;
	margin-top:100px;
	}	
#words_rank #works #work_item .work_img	img{
	position:absolute;
	border-radius:3px;
	border:1px solid #87cc8d;
	
	
	}
#words_rank #works #work_item .work_img	img#playLogo{
	width:54px;
	height:52px;
	position:absolute;
	left:50px;
	top:20px;
	border:none;
	}	
#words_rank #works #work_item .profile {
 margin-left:5px;
}
#words_rank #works #work_item .profile .title{
  margin-top:5px;
}
#words_rank #works #work_item .profile .title a{
 color:rgb(247,250,105);
 line-height:20px;
}
#words_rank #works #work_item .profile .name{
 color:#fff;
 margin-top:5px;
}
#words_rank #works #work_item .profile .voted{
 background:url(images/votebg.png) no-repeat;
 width:167px;
 height:28px;
 line-height:28px;
 margin-top:10px;
 cursor:pointer;
}
#words_rank #works #work_item .profile .voted #number{
 display:inline-block;
 width:60px;
 text-align:center;
 color:#fff;
 margin-left:10px;
}

#words_rank #works #work_item .profile .voted #vote{
 color:#14655b;
 margin-left:16px;
 font-weight:bold;
}
#words_rank #works #work_item .profile .voted a#vote:hover{
	color:#090;
	} 
#words_rank #works #work_item img{
 width:167px;
 height:96px;
 /*border:1px  solid rgb(247,250,105);
 border-radius:5px;*/
 
}
#words_rank #rank_pageNumbers {
  direction:rtl;
}

#words_rank div#page{
 padding-top:0;

}
#words_rank div#page a{
 padding-right:10px;
}
#words_rank div#page a.page_active{
 color:#fff;
}

/* 赛事报道*/

#news_report #news_report_images{
  margin:0 auto;
  margin:100px 10px !important;
  border:1px double rgb(247,250,105);
}
#news_report #news_report_images img{
 width:278px;
 height:120px;
}
#news_report .news{
  width:200px;
  height:80px;
  margin:0 auto;
  margin:-90px 45px !important;
  margin-bottom:50px;
}
#news_report .news p{padding-top:7px;color:#fff;line-height:20px;}

#news_report .more{
 display:block;
 width:67px;
 height:20px;
 line-height:20px;
 background:url(images/seemorebg.png) no-repeat;
 position:absolute;
 top:325px;
 left:118px;
 }



/*弹出窗口*/
div#float {
	clear:both;
	width:783px;
    height:386px;
	margin: 0 auto;
	color:#f5f969;
	/*position:fixed;*/
	/*bottom:20px;*/
	/*right:250px;*/
	background:url(images/popupbg.png) no-repeat;
	position:relative;
}
a#close {
	width:34px;
	height:34px;
	background:url(images/close.png) no-repeat;
	border:none;
	float:right;
	margin-right:90px;
	margin-top:20px;
	clear:both;
}

.message {
	width:210px;
	margin:100px 30px 80px 20px;
	float:left;
	font-weight:bold;
	font-size:16px;
	line-height:20px;
	text-align:center;
}
.message a{
	display:block;
	width:108px;
	height:29px;
	margin:20px auto;
	color:#FFF;
	text-decoration:none;
	}
.message a.login{
	background:url(images/floatlogin.png) no-repeat;
	}
.message a.signup{
	background:url(images/floatsignup.png) no-repeat;
	}	
.message a.warning{
	width:165px;
	color: rgb(245, 249, 105);
	}
.message span {
	line-height:60px;
	font-size:20px;
	font-weight:bold;
}
.message span {
	line-height:60px;
	font-size:20px;
	font-weight:bold;
}
.uniqueCode {
	width:280px;
	padding-top:40px;
	padding-left:230px;
}
#uniqueCodeInput {
	width:265px;
	height:35px;
	padding-left:10px;
	color:#FFF;
	font-size:14px;
	background:url(images/codebg.png) no-repeat;
	border:none;
}
.uniqueCode h4 {
	font-size:20px;
	font-weight:bold;
	line-height:25px;
	letter-spacing:2px;
	padding-left:10px;
}
.uniqueCode h4.messageColor{color:#ff6666}
.uniqueCode p {
	line-height:20px;
	padding:10px;
}
a#sureVote {
	display:block;
	width:89px;
	height:28px;
	margin-top:10px;
	margin-left:10px;
	color:#f5f969;
	font-size:14px;
	line-height:28px;
	text-align:center;
	background:url(images/confirmbtn.png) no-repeat;
	border:none;
}
div#float .qcode {
	position:absolute;
	
	padding-top:10px;
	padding-left:10px;
	font-weight:bold;
	line-height:20px;
}
div#float .qcode span a {
	color:#f5f969;
	font-size:20px;
	font-weight:normal;
	text-decoration:underline;
}
div#float .qcode span a:hover{
	
}
div#float .qcode p a {
	color:#f5f969;
	text-decoration:underline;
	line-height:50px;
	font-weight:normal;
}

