/* CSS Document */
div#container div#activity{
	background:#FFF;
	padding-top:10px;
	}
div#container div#activity article{
	padding:10px 10px;
	}	
div#container div#activity div.navigationButton4 {
	width:98%;
	margin:0 auto;
	height:50px;
	padding-top:4px;
	background:url(../huodshengm.png) no-repeat;
}
div#container div#activity div.navigationButton1{
	width:98%;
	margin:0 auto;
	height:50px;
	padding-top:4px;
	background:url(../shuoming.png) no-repeat;
	}
div#container div#activity div.navigationButton2{
	width:98%;
	margin:0 auto;
	height:50px;
	padding-top:4px;
	background:url(../pingwei.png) no-repeat;
	}
div#container div#activity div.navigationButton3{
	width:98%;
	margin:0 auto;
	height:50px;
	padding-top:4px;
	background:url(../jiangxiang.png) no-repeat;
	}	
div#container div#activity div.navigationButton4 a,div#container div#activity div.navigationButton1 a,div#container div#activity div.navigationButton2 a,div#container div#activity div.navigationButton3 a {
	height:42px;
	color:#01554c;
	text-decoration:none;
	line-height:42px;
	font-size:1.375em;
	margin-left:49px;
}
div#container div#activity #actStat h4,div#container div#activity #actIll h4{
	color:#01645b;
	font-size:1.375em;
	line-height:60px;
	}
div#container div#activity #actStat,div#container div#activity #actIll{	
color:#667366;
font-size:1.125em;
line-height:30px;
}
div#container div#activity #actStat p{
	margin-bottom:20px;
	}

div#container div#activity li{
	width:100%;
	height:240px;
}

div#container div#activity  ul li img{
    margin-top:40px;
	margin-left:20px;
	float:left;
}
div#container div#activity span{
	font-size:1.25em;
	color:rgb(1,100,91);
}

div#container #judgeList p{
    float:right;
	width:50%;
	margin-right:110px;
	margin-top:40px;
	line-height:33px;
	color:rgb(102,115,102);

}

div#container div#activity h4{
     font-size:1.375em;
	 color:rgb(1,100,91);
	 margin-top:30px;
	 margin-left:10px;
	 font-weight:bold;
}
div#container  #prizeSet p{
   font-size: 1.125em;
   margin-top:30px;
   color:rgb(102,115,102);
   line-height:30px;
   margin-left:10px;
   
}
div#container #prizeSet img{
	max-width:100%;
    height:350px;
	margin-left:10px;
	margin-top:10px;
}
div#container  #prizeSet h5{
     font-size:1.5em;
	 color:#14a78a;
	 margin-left:10px;
	 margin-top:30px;
	 font-weight:bold;
}
div#container h6{
	padding-left:10px;
	color:rgb(102,115,102);
	font-style:italic;
	line-height:20px;
	}

