/*头部*/
body {
	max-width:740px;
	background:#02554d;
	margin:0 auto;
	width:640px;
	font:normal 100% "微软雅黑";
}
#container {
	margin:0 auto;
	width:640px;
}
div#header {
	padding:20px;
}
div#home {
	width:7%;
	height:46px;
	margin-top:10px;
	background:url(../home.png) no-repeat;
	background-size:100% auto;
	float:left;
}
img#fivesheep {
	float:left;
}
div#company {
	width:70%;
	float:right;
	margin-top:10px;
	margin-bottom:10px;
}
div#company img {
	max-width:100%;
	padding:0 1%;
}
div#company img#fivesheep {
	float:left;
	max-width:100%;
	-ms-interpolation-mode: bicubic;
	padding-left:4%;
}
div#company #comname {
	width:15%;
	height:auto;
	color:#FFF;
	font-size:1.25em;
	letter-spacing:3px;
	border-left:1px solid #FFF;
	padding-left:10px;
	margin-top:5px;
	float:left;
}
div#title {
	clear:both;
	display:block;
	width:100%;
	height:80px;
	text-align:center;
	background:url(../navigationbg.png) repeat-x;
}
div#title .button {
	width:100%;
	display:inline;
	font-size:1.75em;
	line-height:80px;
	float:left;
}
div#title .button a {
	color:#FFF;
	text-decoration:none;
	width:15%;
	padding:0 3%;
	background:url(../square.png) no-repeat 0 50%;
}
div#title .button a:hover {
	color:#f4f86a;
}
div#title .button a.active {
	color:#f4f86a;
}
div#title a.login {
	display:block;
	width:20%;
	height:74px;
	line-height:74px;
	background:url(../loginbtn.png) no-repeat;
	float:right;
}
div#title a.loginout {
	color:#f4f86a;
	text-decoration:none;
}
/*首页*/			
div#main.index {
	width:100%;
	height:962px;
	background:url(../mobileindexbg.png) no-repeat 50% 0;
}
div#main.index a {
	display:block;
	margin:0 auto;
}
div#main.index ul#kv {
	position:relative;
	overflow: hidden;
	width: 100%;
	height:100%;
}
div#main.index ul#kv li img {
/*max-width:100%;*/
}
div#main.index ul#kv li.kv1 {
	position:absolute;
}
div#main.index ul#kv li.kv2 {
	position:absolute;
}
div#main.index ul#kv li {
	text-align:center;
}
div.promptumenu_nav {
	z-index:10;
	width:100px;
	height:10px;
	position:absolute;
	top:1000px;
	left:49%;
}
div.promptumenu_nav a.active {
	display:block;
	with:19px;
	height:17px;
	background:url(../pointOne.png) no-repeat;
}
div.promptumenu_nav a {
	display:block;
	with:19px;
	height:17px;
	float:left;
	padding:10px;
	background:url(../pointTwo.png) no-repeat;
	cursor:pointer;
}
/*发表评论页面*/

div#topMain {
	background:url(../topmainbg.png) 77% 0 no-repeat;
	background-size:100% auto;
	padding-bottom: 10px;
}
div#bottomMain {
	background:#FFF;
}
div#votedRanking {
	width:40%;
	color:#FFF;
	font-size:22px;
	margin-left:2%;
	float:left;
}
div#votedRanking h1.voteRankTitle {
	height:100px;
	font-size:1.25em;
}
div#votedRanking p {
	line-height:60px;
}
div#votedRanking span.voteRankNumber {
	color:#f7fa69;
}
div#iWantVote {
	width:50%;
	height:200px;
	float:left;
	background:url(../iwantvotebg.png) no-repeat center top;
	margin-top:50px;
	cursor:pointer;
}
div#iWantVote span.voteNum {
	display:block;
	width:150px;
	height:30px;
	margin-top:30px;
	margin-left:60px;
	text-align: center;
	font-size:1.5em;
	color: rgb(138, 68, 52);
}
div#iWantVote a#voteButton {
	display:block;
	width:325px;
	height:72px;
	background:url(../iwantvotetext.png) no-repeat;
	margin-left:5px;
}
div#textandcomment input#submitButton {
	color: rgb(247, 250, 105);
	display:block;
	width:176px;
	height:47px;
	line-height:40px;
	font-size:1em;
	font-weight:bold;
	border:none;
	background:url(../combtn.png) no-repeat;
	float:right;
	cursor:pointer;
}
div.workComment {
	clear:both;
}
div.preAndNext {
	width:auto;
	height:30px;
	margin-top:20px;
}
div.commentShowall {
	clear:both;
	padding-top:20px;
	padding-bottom:10px;
}
div.preAndNext #preSong {
	display:block;
	width:40%;
	height:30px;
	line-height:30px;
	background:url(../prebtn.png) no-repeat;
	margin-right:5%;
	float:left;
}
div.preAndNext #nextSong {
	display:block;
	width:40%;
	height:30px;
	line-height:30px;
	background:url(../nextbtn.png) no-repeat;
	float:left;
}
div#topMain Video {
	clear:both;
	width:90%;
	height:350px;
	margin:20px 5%;
	background:#99C;
	border:1px solid #f7fa69;
}
div#topMain audio {
	clear:both;
	display: block;
	width:90%;
	vertical-align: middle;
	margin:0 5% 40px 5%;
	background:#99C;
	border:1px solid #f7fa69;
}
div#topMain #audio {
	clear:both;
	display: block;
	width:90%;
	vertical-align: middle;
	margin:0 5% 40px 5%;
	padding: 3px;
	color: white;
	background:#99C;
	border:1px solid #f7fa69;
}
div.workComment {
	background:#FFF;
	padding-top:10px;
}
div.workCommentGuide:after {
	display:block;
	clear:both;
	content:"";
	visibility:hidden;
	height:0
}
div.workCommentGuide {
	width:605px;
	margin:0 auto;
	zoom:1
}
/*筛选按钮*/
div.workCommentGuide div {
	display: inline-block;
	width:100%;
	height:50px;
	margin-top:25px;
}
div.workCommentGuide .workDetail {
	vertical-align:middle;
	background-image:url(../workdetailorcommentbtn.png)/*图片1*/
}
div.workCommentGuide .comment {
	/*图片2*/
	vertical-align:middle;
	background-image:url(../commentorworkdetail.png);
}
div.workComment div.workDetail {
	width:95%;
	margin:0 auto;
}
div.workComment div.workDetail img#triange {
	max-width:100%;
	padding:0 5%;
}
div.workComment, div.commentSubmit {
	color:#5d6a5d;
	font-size:22px;
	width:96%;
	margin:0 auto;
	padding:0 10px;
}
div.workComment h3 {
	color:#01645b;
	font-size:1.5em;
	font-weight:lighter;
	line-height:50px;
	
}
div.workComment h3.workdetail{
	display:inline;
	float:left;
	}
div.workComment h4 {
	font-weight:lighter;
	line-height:40px;
}
div.workComment p {
	margin-bottom:20px;
}
div.workComment h5 {
	display:inline;
	color:#01645b;
	font-size:0.875em;
}
div.workComment div.singer{
	overflow:hidden;
	zoom:1;
	padding-bottom:10px;
	}
div.workComment div.singer img {
	max-width:100%;
	height:193px;
	float:left;
	margin-right:2%;
}
div.workComment div#share {
	text-align:right;
	font-size:0.875em;
	color:#01645b;
	padding-top:10px;
	padding-bottom:10px;
}
div.workComment div#share img {
	vertical-align:middle;
}
div.commentSubmit div.commentDatail {
	width:95%;
	margin:0 auto;
}
div.commentSubmit div#textandcomment textarea {
	display:block;
	font-size:1.25em;
	resize: none;
	width:100%;
	color:#5d6a5d;
	background:#c3e0d9;
	border:none;
	margin-bottom:20px;
}
div.commentSubmit div#share {
	color:#01645b;
	font-size:1.125em;
	margin-top:5px;
	display:inline;
}
div.commentSubmit div#share img {
	vertical-align:middle;
}
div.commentSubmit input.iwantcomment {
	color: rgb(247, 250, 105);
	font-size:1.5em;
	letter-spacing:10px;
	font-weight:bold;
	border:none;
	background:url(../combtn.png) no-repeat;
	padding:8px 50px 20px 55px;
	float:right;
	cursor: pointer;
}
div.commentShowall h3 {
	color:#01645b;
	font-size:1.125em;
	background:url(../doublelines.png) no-repeat 50%;
	text-align:center;
}
div#singleComment p {
	font-size:18px;
	color:#c3e0d9;
}
div#singleComment div {
	width:90%;
	height:auto;
	word-break:break-all;
}
div#singleComment {
	margin-top:20px;
}
div#singleComment span.name {
	font-size:1.375em;
	color:#01645b;
	margin-right:10px;
}
div#singleComment span.time {
	font-size:1.125em;
	color:#c3e0d9;
}
/*新闻列表news页面*/		
div#content.news {
	background:#FFF;
	height:auto;
}
div#content.news div.newsItem ul {
	background:#FFF;
}
div#content.news div.newsItem ul li {
	height:140px;
	border-bottom:1px solid #a6cbc4;
	padding:20px 20px 10px 20px;
}
div#content.news div.newsItem img {
	max-width:100%;
	height:120px;
	float:left;
	margin-right:10px;
}
div#content.news div.newsItem h3 {
	color:#01645b;
	font-size:1.25em;
	font-weight:bold;
}
div#content.news div.newsItem h4 {
	font-size:1.125em;
	color:#01645b;
	line-height:30px;
	font-weight:bold;
}
div#content.news div.newsItem p {
	display:inline;
	color:#5d6a5d;
	font-size:0.875em;
}
div#content.news div.newsItem h5 {
	display:inline;
	color:#5cb385;
	font-size:0.875em;
	text-decoration:underline;
}
div#content.news div.newsItem a {
	text-decoration:none;
}
/*新闻详情newsDetail页面*/
div#content.newsDetail {
	background:#FFF;
	margin:0 auto;
}
div#content.newsDetail div#article {
	padding:15px;
}
div#content.newsDetail .newsTitle a {
	color:#01645b;
	font-size:1em;
	text-decoration:none;
}
div#content.newsDetail div#article div.newsTitle h1 {
	font-size:1.5em;
	color:#01645b;
	font-weight:bold;
}
div#content.newsDetail div#article div.newsTitle h4 {
	font-size:1.125em;
	color:#01645b;
}
div#content.newsDetail div#article div.newsTitle a {
	float:right;
}
div#content.newsDetail div#article div.newsTitle .mainDetail {
	clear:both;
}
div#content.newsDetail div#share {
	color:#01645b;
	font-size:1.25em;
	float:right;
	margin-right:20px;
}
div#content.newsDetail div#share img {
	vertical-align:middle;
}
div#content.newsDetail div#moreNews {
	clear:both;
	padding-top:20px;
}
div#content.newsDetail div#moreNews h2 {
	color:#01645b;
	font-size:1.75em;
	text-align:center;
	background:url(../newdetaildoubleline.png) no-repeat 45% 0px;
}
div#content.newsDetail div.newsItem {
	border-bottom:1px solid #a6cbc4;
	padding:20px 20px 10px 20px;
}
div#content.newsDetail div.newsItem li {
	height:140px;
	clear:both;
	margin:15px 10px;
}
div#content.newsDetail div.newsItem img {
	max-width:100%;
	height:120px;
	float:left;
	margin-right:10px;
}
div#content.newsDetail .mainDetail {
	padding:10px;
}
div#content.newsDetail .mainDetail img {
	max-width:100%;
	max-height:400px;
	margin:10px auto;
	display:block;
}
div#content.newsDetail h3 {
	color:#01645b;
 font-size1.375em;
	font-weight:bold;
}
div#content.newsDetail h4 {
	font-size:1.125em;
	color:#01645b;
	line-height:30px;
	font-weight:bold;
}
div#content.newsDetail p {
	display:inline;
	color:#5d6a5d;
	font-size:1.125em;
}
div#content.newsDetail h5 {
	display:inline;
	color:#5cb385;
	font-size:18px;
	text-decoration:underline;
}
div#content.newsDetail div.newsItem a {
	text-decoration:none;
}
/*参赛作品页面*/
div#main.gameWork {
	width:100%;
	height:auto;
	background:#FFF;
}
div#game_progress {
	width:100%;
	height:171px;
	background:url(../timebg.png) no-repeat;
	background-size:100% auto;
	overflow-x:auto;
	overflow-y:hidden;
}
div#game_progress ul {
	width:1000px;
	display:block;
	padding-top:10px;
}
div#game_progress ul li {
	padding:4px 25px 11px 35px;
	background:url(../timeline.png) no-repeat;
	float:left;
	font-weight:bold;
}
div#game_progress ul li span {
	display:block;
	color:#f4f86a;
	font-size:1.125em;
	text-align:center;
}
div#game_progress ul li a {
	display:block;
	width:128px;
	height:34px;
	color:#f4f86a;
	font-size:1.125em;
	text-align:center;
	line-height:34px;
	background:url(../timeoff.png) no-repeat;
	text-decoration:none;
}
div#game_progress ul li .periodActive {
	width:180px;
	height:51px;
	line-height:51px;
	display:block;
	background:url(../timeon.png);
	color:#017d72;
	font-size:1.625em;
	text-align:center;
	text-decoration:none;
}
div#game_progress ul li a:hover {
	width:180px;
	height:51px;
	line-height:51px;
	display:block;
	background:url(../timeon.png);
	color:#017d72;
	font-size:1.625em;
	text-align:center;
	text-decoration:none;
}
div#search_work {
	width:347px;
	height:51px;
	background:url(../searchbg.png) no-repeat;
	background-size:100% auto;
	margin-bottom:10px;
	margin-top:10px;
	float:right;
	margin-right:20px;
}
div#search_work input#projectInput {
	width:240px;
	height:51px;
	background:none;
	border:none;
	color:#015d54;
	font-size:1.375em;
	line-height:30px;
	padding-left:10px;
	float:left;
}
::-webkit-input-placeholder { /* WebKit browsers */
 color:#CCC;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
 color:#CCC;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
 color:#CCC;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
 color:#CCC;
}
div#search_work a#projectSubmit {
	display:block;
	width:90px;
	height:51px;
	background:url(../searchbtn.png) no-repeat;
	float:right;
}
p.tips {
	clear:both;
	color:#5d6a5d;
	font-size:1.125em;
	margin-left:10px;
}
span.tip {
	color:#015d54;
}
div#game_works {
	background:#FFF;
	border-top:1px solid #093;
}
div#game_works div#game_work {
	padding:10px;
	border-bottom:1px solid #a6cbc4;
	height: 144px;
}
div#game_works div#game_work img {
	width:238px;
	height:119px;
}
div#game_works div#game_work div.game_work_title {
	width: 300px;
	padding-top:15px;
	margin-right:10%;
	float:right;
}
/*div#game_works div#game_work a.picFrame{
	display:inline-block;
	width:238px;
	height:119px;
	overflow:hidden;
	}*/
/*div#game_works div#game_work img{
	
	}*/
	
div#game_works div#game_work p.song_name a {
	color:#5d6a5d;
	font-size:1.875em;
	text-decoration:none;
	line-height:20px;
	font-weight:bold;
}
div#game_works div#game_work p.singername {
	color:#015d54;
	font-size:1.25em;
	margin-bottom:20px;
}
div#game_works div#game_work div#vote {
	width:281px;
	height:51px;
	line-height:51px;
	background:url(../votebtnbg.png) no-repeat;
	text-align:center;
	cursor:pointer;
}
div#game_works div#game_work div#vote span.vote_number {
	color:#FFF;
	font-size:1.375em;
	width:40%;
}
div#game_works div#game_work div#vote a {
	display:block;
	font-size:1.75em;
	color:#f4f86a;
	text-decoration:none;
	float:right;
	margin-right:70px;
}
div#game_works div#game_work div#vote .nagitiveVoteButton {
	display:block;
	font-size:1.375em;
	color:#fff;
	text-decoration:none;
	float:right;
	margin-right:23px;
}
div#float.show {
	width:544px;
	height:485px;
	background:url(../popupbg.png) no-repeat;
	font-size:1.125em;
	color:#f7fa69;
}
div#float.show div.uniqueCode {
	padding-left:30px;
	padding-top:80px;
}
div#float.show a#close {
	display:block;
	width:42px;
	height:40px;
	background:url(../closebtn.png) no-repeat;
	float:right;
	margin-right:60px;
	margin-top:10px;
}
div#float.show div.message {
	clear:both;
	height:100px;
	margin-bottom:30px;
}
div#float.show div.message h4 {
	font-weight:bold;
	font-size:1.75em;
	line-height:40px;
}
div#float.show div.message a {
	color:#FFF;
	text-decoration:none;
}
div#float.show div.uniqueCode h4 {
	font-size:1.5em;
	line-height:40px;
}
div#float.show div.uniqueCode p {
	font-size:1em;
	line-height:70px;
}
div#float.show div.uniqueCode p a{
	color:#f7fa69;
	font-size:1.5em;
	line-height:70px;
	}
div#float.show div.uniqueCode h4.messageColor {
	color:#F66;
}
div#float.show input#uniqueCodeInput {
	display:block;
	width:347px;
	height:46px;
	border:none;
	color:#FFF;
	font-size:1.25em;
	background:url(../inputcodebg.png) no-repeat;
	margin-top:10px;
	margin-bottom:40px;
	padding-left:10px;
}
div#float.show a#sureVote {
	display:block;
	width:176px;
	height:47px;
	line-height:47px;
	background:url(../combtn.png) no-repeat;
	color:#f7fa69;
	text-align:center;
	text-decoration:none;
	font-size:1.25em;
	font-weight:bold;
}
div#float.show div.qcode {
	width:200px;
	margin-top:10px;
	margin-left:10px;
}
div#float.show div.qcode a {
	color:#f7fa69;
	font-size:0.8em;
}
