@import "reset.css";

header {
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    height: 60px;
    color: #FFF;
    background-color: #000;
}
nav {
    position: fixed;
    top: 60px;
    left: 0;
    width: 20%;
    /*height: 100%;*/
}
div#content {
    display: block;
    margin: 60px 0 0 20%;
    padding: 1%;
    width: 78%;
    height: 100%;
    min-height: 515px;
	background:#efefef;
}
div#siteMap {
    display: block;
    height: 45px;
    text-align: center;
    background-color: #BBBBBB;
}
div#siteMap ul{
	line-height:45px;}
div#siteMap ul li a{
	font-size:12px;
	color:#333;}
div#copyright {
    text-align: center;
	margin:5px;
	font-size:12px;
	color:#999;
}

/* header */
div#company {
    float: left;
    height: 60px;
}
div#company .title {
    font-family: "隶书",monospace;
    font-size: 24px;
}
div#company .copyright{
    font-family: "隶书",monospace;
    font-size: 18px;
}
div#logo {
    position: absolute;
    left: 20%;
    top: 24px;
}
div#userControl {
    float: right;
}
div#userControl ul.button li {
    content: "][";
    display: inline-block;
}
div#userControl ul.button li:before {
    content: "[";
}
div#userControl ul.button li:after {
    content: "]";
}
/* header具体样式 */
header div#company .title{
	width:137px;
	height:60px;
	margin:10px;
	background:url(images/logo.png) no-repeat;}
header div#company .title span{
	 display:none;}
header div#userControl{
	margin:10px;
	font-size:13px;
	line-height:18px;}
header div#userControl .button{
	color:#999;}
header div#userControl .button a{
	color:#FFF;}
	
/* 菜单栏 */
nav {
	min-height:542px;
    background:url(images/nav_bg.png) repeat-y;
    background-size: 100%;
}
nav .menuItem {
	padding:12px 0 12px 60px;
	border-bottom:thin solid #CCC;
}
nav .menuItem a{
	font-family:"微软雅黑", "华文细黑", "幼圆";
	color:#666;}
nav .menuItem a img{
	margin:0 20px 0 0;}
nav .menuItem:hover{
	background:url(images/nav_hover_bg.png) repeat-x;
	}
nav h2{
	padding:40px 0 20px 60px;
	color:#666;
	font-size:18px;
	font-weight:400;
	border-bottom:thin solid #CCC;}
	
/*主要内容*/
div#content div.contentTitle{
	background:#69C;}
div#content h2 {
	display:block;
	float:left;
	width:100px;
	margin-left:20px;
	padding-left:30px;
	font-family:"微软雅黑", "华文细黑", "幼圆";
	font-weight:400;
	font-size:16px;
	line-height:36px;
	background-color:#036;
	color:#FFF;
}
div#content span a{
	color:#333;}
div#content div.contentTitle span{
	font-size:12px;
	padding-left:14px;
	margin-left:10px;
	line-height:36px;
	background: url(images/location.png) no-repeat;}
div#content div#contentControl div.button {
    display: inline-block;
    width: 100px;
    height: 50px;
	margin:10px;
}

/*站点导航*/
div#siteMap ul li {
    display: inline-block;
}
div#siteMap ul li:after {
    content: '|';
}
div#siteMap ul li:last-child:after {
    content: '';
}

/*copyright*/
div#copyright {

}


/* 按钮样式 */
div#contentControl{
	margin:8px 0;
	border:thin solid #e0e0e0;
	background-color:#e6e6e6;
}
div.button{
	border:1.5px solid #e6e6e6;
}
div.button:hover{
	border:1.5px solid #999;
	border-radius:5px;
}
div#contentBtnAdd {
    background: url("images/add.png") no-repeat;
    background-size: 100% 100%;
}
div#contentBtnModify{
	background: url("images/edit.png") no-repeat;
    background-size: 100% 100%;}
div#contentBtnDelete{
	background: url("images/delete.png") no-repeat;
    background-size: 100% 100%;}
div#contentBtnSearch{
	background: url("images/search.png") no-repeat;
    background-size: 100% 100%;}
div#contentBtnOutput{
	background: url("images/output.png") no-repeat;
    background-size: 100% 100%;}	
div#contentBtnRefresh{
	background: url("images/set.png") no-repeat;
    background-size: 100% 100%;}