    .form_style input{
    font-size:14px;
    padding:4px 5px;
    border:solid 1px #aacfe4;
    width:700px;
    height:20px;
    margin:10px 0 5px 0px;
    border-radius: 3px;
}
    .form_style span{
        font-size: 14px;
        font-weight:bold;
        color: #666;
    }
    .form_style #button{
    clear:both;
    text-align: center;
    margin-left:150px;
    margin-top: 20px;
    width:125px;
    height:30px;
    text-align:center;
    line-height:25px;
    font-size:15px;
    color:#666;
    font-weight:bold;
    border-radius: 3px;
}
    #data img{
        height: 160px;
    }
    input[id='num']{
        width: 250px;
    }
    select[name='periodInput']{
        width:150px;
    }
