@charset "utf-8";
/* CSS Document */
/*后台*/
body{
	background: url(images/2.jpg) no-repeat;
	background-size:110%;}
h4{
	text-align:center;
	margin:180px 0 20px 0;
	font-family:"微软雅黑", "华文细黑", "幼圆";
	font-size:1.2em;
	font-weight:normal;
	color:#036;
	border-bottom:thin dotted #069;}
fieldset{
	width:30%;
	margin:0 auto;
	text-align:center;
	filter:alpha(opacity=60 finishopacity=100 style=1 startx=0,starty=0,finishx=0,finishy=150) progid:DXImageTransform.Microsoft.gradient(startcolorstr=#4bd3e3,endcolorstr=#097ee2,gradientType=0);
	-ms-filter:alpha(opacity=60 finishopacity=100 style=1 startx=0,starty=0,finishx=0,finishy=150) progid:DXImageTransform.Microsoft.gradient(startcolorstr=#4bd3e3,endcolorstr=#097ee2,gradientType=0);/*IE8*/      
	background:#006600; /* 一些不支持背景渐变的浏览器 */      
	background:-moz-linear-gradient(top,rgba(75,221,227, .5),rgba(9, 126, 226, .5));/*Firefox*/      
	background:-webkit-gradient(linear, 0 0, 0 bottom, from(rgba(75,221,227, .5)), to(rgba(9, 126, 226, .5)));/*chrome Safari*/    background:-o-linear-gradient(top, rgba(75,221,227, 0.5),rgba(9, 126, 226, 0.5));/*Opera11*/
	
	border:none;
	-webkit-box-shadow: #666 2px 2px 10px;
	-moz-box-shadow: #666 2px 2px 10px;
	box-shadow: #666 2px 2px 10px;
	
	line-height:2em;
	font-family:"微软雅黑", "华文细黑", "幼圆";
	font-size:14px;
	color: #333;}
legend{
	padding:2px 5px;
	text-align:left;
	border:thin solid #FFF;
	border-radius:5px;
	background: #FFF;
	font-size:16px;}

input{
	padding:3px 5px;
	margin-bottom:1em;
	width:40%;
	background-color:#f9f9f9;
	border-radius:4px;
    border:1px solid #909090;
    -webkit-transition: box-shadow 0.30s ease-in-out;
	-moz-transition:  box-shadow 0.30s ease-in-out;
	line-height:1.6em;
	font-size:0.9em;
	color:#333;}
input[type="submit"]{
	width:120px;
	margin:0 auto;
	background:#069;
	color:#FFF;
	border: thin solid #036;}
input:focus,textarea:focus{
	outline:none;
	background-color:#fff;
	border:#87C6F9 1px solid;
	box-shadow: 0 0 8px rgba(103, 166, 217, 1);	}
